.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;


    .welcome-div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;

        p {
            font-size: large;
            font-weight: 500;
            text-overflow: wrap;
            text-wrap: wrap;
        }


    }
}