.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;


    .welcome-div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;

        p {
            font-size: large;
            font-weight: 500;
            text-overflow: wrap;
            text-wrap: wrap;
        }

        input {
            text-align: center;
            font-weight: 500;
            font-size: larger;
            border: solid white 1px;
            border-radius: 10px;
            height: 2rem;
            transition: box-shadow 0.1s ease-in;
            padding-left: 1rem;
            padding-right: 1rem;
            width: 100%;

            &:hover {
                box-shadow: black 0px 0px 4px 3px;
            }

            &:active,
            &:focus {
                outline: none;
            }

            &:focus {
                box-shadow: black 0px 0px 4px 3px;
            }
        }
    }
}


html.dark-mode {
    .main-page {
        .welcome-div {
            input {
                border: solid white 1px;
                color: $text-light;

                &:hover,
                &:focus {
                    box-shadow: $button-box-shadow-dark 0px 0px 4px 3px;
                }

                &:active {
                    outline: none;
                }
            }
        }
    }
}