*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    color: $text;
    font-family: $font;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    text-decoration: none;
    scroll-behavior: smooth;    
}

footer,
header,
nav,
section,
main {
    display: block;
}


html{
    transition: background-color 1s, color 1s;
    background-color: $background-light;

}

body {
    line-height: 1;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-text;
    font-family: $heading-font;
}


ol,
ul {
    list-style: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
textarea {
    border-radius: 0;
    color: $text;
    font-family: $font;
}

button {
    color: $text;
    border: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 5rem;

    @include respond(tablet-landscape) {
        padding-inline: 1.5rem;
    }

    @include respond(phone) {
        padding-inline: 0.75rem;
    }
}

.main-title {
    width: 100%;
    text-align: center;
    font-size: x-large;

    h1 {
        margin-bottom: 0;
        color: $primary
    }
}

.main-container {
    max-width: 97%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    overflow: hidden;
    height: 100%;

    &-cards {
        height: 100%;

        @include respond(tablet-landscape) {
            margin-inline: auto;
        }
    }


    @include respond(tablet-portrait) {
        flex-direction: column;
        padding-top: 2rem;
        padding: 1rem;
        max-width: 100%;
        overflow: scroll;
    }

}



.dark-mode {
    background-color: $background;
    color: #ffffff;
}