@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Share+Tech&display=swap');

$background: #393E46;
$background-light: #d7d8db;
$background-shade: #393e4680;
$primary: #F2A900;
$primary-shade: #f2a90068;
$accent: #F1C15C;
$accent-shade: #f1c15c4b;
$text: #000000;
$text-light: #ffffff;
$text-shade: #2d2d2d69;
$heading-text: #ffffff;
$font: Chakra Petch, Arial, sans-serif;
$heading-font: Chakra Petch, 'Times New Roman', serif;