.login-page-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}


.login-box {
    border: black solid 1px;
    width: 15rem;
    padding: 1rem;


    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


}