    .add-game-main {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: fit-content;
        padding-top: 10rem; //navbar height (make it imported in the future)
        // width: 100%;

        .pagination-controls {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: center;
        }

        .cards-navigation {
            width: 100%;
        }

        @include respond(tablet-landscape) {
            // grid-template-columns: repeat(4, 1fr);
        }

        @include respond(tablet-portrait) {
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }

        @include respond(phone) {
            flex-direction: column;

        }


    }

    .game-cards-paginated {

        display: flex;
        flex-wrap: wrap;
        place-content: center;

        gap: 1rem;
        // border: pink 1px solid;
        gap: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

    .filters-container {
        border: yellowgreen solid 1px;
        display: flex;
        width: 12%;
        min-width: 16rem;

        @include respond(tablet-portrait) {
            margin-bottom: 1rem;

        }
    }

    .filters {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        width: 100%;
    }


    .filter-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10rem;

        label {
            width: 1rem;
            white-space: nowrap;
        }

        input {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .search-bar {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .search-icon {
        font-size: 2rem;
    }

    .filter-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .filter-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
    }

    .filter-content.open {
        max-height: 150px;
    }